/* erp-vue/src/components/Login.css */
.login-container {
    background-color: #f0f2f5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-title {
    text-align: center;
    color: #333;
  }
  
  .login-card {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-item {
    margin-bottom: 20px;
  }
  
  .message {
    text-align: center;
    color: #ff4d4f;
  }
  
  .login-button,
  .register-button {
    margin-right: 10px;
  }